<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/general.css" />
    <link rel="stylesheet" href="../static/login.css" />

    <title>login</title>
  </head>
  <body>
    <div class="container">
      <p class="hero">now login to access the app.</p>

      <form class="form" method="POST">
        <div>
          <label for="register_number">your register mobile number: </label>
          <input name="register_number" id="register_number" type="number" />
        </div>

        <div>
          <label for="register_number">password: </label>
          <input name="password" id="password" type="text" />
        </div>

        <button type="submit">submit</button>
      </form>
    </div>
  </body>
</html>
