$color-white: #fff;
$color-white-light: #eee;

$default-font-size-sm: 1.4rem;
$default-font-size-extra-sm: 1.2rem;
$default-font-size: 1.6rem;
$default-font-size-1: 2rem;

$default-line-height: 1.5;

$default-primary-heading-font-size: 4.4rem;
$default-secondary-heading-font-size: 3.6rem;
$default-tertiary-heading-font-size: 2.6rem;

$color-primary-dark: #37b24d;
$color-primary-light: #51cf66;

$color-secondary-light: #fd7e14;
$color-secondary-dark: #e8590c;

$color-tertiary-light: #339af0;
$color-tertiary-dark: #1c7ed6;

$color-fourth-light: #fcc419;
$color-fourth-dark: #f59f00;

$border-radius-primary: 5px;

$box-shadow-1: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$box-shadow-2: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
  rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
$box-shadow-3: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
  rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
