* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 24px;
  font-family: sans-serif;
  height: 100vh;
  text-align: center;

  /* grid template */
  display: grid;
  grid-template-columns: 80px 350px 1fr 250px;
  grid-template-rows: 60px 1fr;
}

nav,
section,
aside,
main {
  padding-top: 15px;
}
nav {
  background-color: #343a40;
  color: #fff;
  grid-row: 1/-1;
}

menu {
  background-color: #6741d9;
  grid-column: 2/-1;

  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0 40px;
}

section {
  background-color: #ced4da;
  display: flex;
  flex-direction: column;
  gap: 10px;

  /* when things are pop out from the container then overflow is used */
  overflow: scroll;
}

main {
}

aside {
  background-color: #ced4da;
}

button {
  border: none;
  background-color: #5f3dc4;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}
button:last-child {
  background-color: #e64980;
  margin-left: auto;
}
section div {
  background-color: #e9ecef;
  height: 96px;
  /* margin-bottom: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px;

  /* when overflow is used if it is used in flexbox, then must be used flex-shrink */
  flex-shrink: 0;
}
