.branch-section {
  padding: 1rem 0;
  background-color: #8ce99a;
  position: sticky;
  top: 0;
  z-index: 10;
  opacity: 0.8;
  background-color: antiquewhite;
}

.branch-section ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.branch-link:link,
.branch-link:visited {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  color: #333;
  /* color: #333; */
  transition: all 0.3s;
}

.branch-link:hover,
.branch-link:active {
  display: inline-block;
  /* padding: 1rem 2rem; */
  transform: scale(1.4);
}
/* 
@media only screen and (max-width: 600px) {
  .branch-section {
    width: 30vw;
  }
  .branch {
    flex-direction: column;
    align-items: flex-end;
  }
} */
