.recharge-heading {
  color: #fff;
  padding-left: 2rem;
}

.recharge-flex {
  display: flex;
  justify-content: space-around;
}

.recharge-section {
  background-color: #00baf2;
  padding: 6.6rem 0;
  color: #fff;
}

/* ****************BUY SECTION************* */
.buy-section {
  background-color: #0f4a8a;
}
