.icon {
  width: 3rem;
}
.img {
  width: 100%;
}

.img__box {
  width: 100%;
  overflow: hidden;
}

.page {
  position: relative;
  width: 50%;
  margin: 4rem auto;
  background-color: #adb5bd;
  border-radius: 9px;
  transition: all 0.3s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.page:hover {
  transform: translateY(-12px) scale(1.03);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.comments {
  width: 100%;
  background-color: #fff;
  text-align: center;
  font-size: 2.4rem;
  transform: skew(-12deg) scale(1.2);
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
}

.details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  padding: 3rem;
}

.details__user {
  display: flex;
  /* align-items: center; */
  gap: 2rem;
  font-size: 3rem;
  color: #eee;
}
