.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.box {
  width: 80%;
  margin: 4rem auto;
}

.p {
  text-align: center;
  width: 80vw;
  font-size: 2.6rem;
  color: #999;
}
