.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebfbee;
  padding: 1rem 0;
}

.footer-para {
  font-size: 1.6rem;
  color: #777;
  margin-right: 2rem;
}

.follow__box {
  font-size: 3rem;
  display: flex;
  gap: 2rem;
}

.follow__box a {
  color: #777;
}

@media (max-width: 30.625em) {
  .footer-para {
    font-size: 1.2rem;
  }
}
