.quantity__box {
  display: flex;
  justify-content: space-between;
}
.quantity {
  padding: 0.5rem;
  border: 1px solid #999;
  border-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.amount {
  font-size: 1.6rem;
  color: #777;
}
.line {
  color: red;
  margin: 2rem 0 4rem 0;
}
