.hero-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8rem;
  align-items: center;
  width: 96vw;
  margin: 0 auto;
  padding: 9.6rem 3rem;
}

.hero-img {
  width: 100%;
}

.hero-heading {
  margin-left: 0 !important;
}
