body {
  font-family: sans-serif;
}

.flex-class {
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  margin: 0;
  padding: 0;
}
.container {
  flex-direction: column;
  gap: 20px;
  height: 600px;
  /* background-color: red; */
}
.button {
  gap: 10px;
}
.container img {
  height: 200px;
  width: auto;
}
.container h1 {
  font-size: 24px;
}
.button button {
  border: none;
  background-color: rgb(60, 163, 60);
  padding: 10px 30px;
  border-radius: 100px;
  color: white;
  cursor: pointer;
}
.button button:hover {
  background-color: rgb(21, 118, 21);
}
