// COLORS:
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

$color-secondary-light: #fd7e14;
$color-secondary-dark: #d9480f;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #999;
$color-grey-light-4: #333;

$grid-width: 100rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 4rem;
$col-height: 6rem;

//font size
$default-font-size: 1.6rem;
$default-font-size-1: 1.5rem;
