.hero__section {
  position: relative;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.hero__section--intro {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  transform: translate(-50%, -50%);
}
.hero__section--intro-header {
  font-size: 4.4rem;
}

.hero__section--intro-para {
  font-size: 2rem;
}

.btn {
  font-size: 1.8rem;
  text-decoration: none;
  color: #333;
  background-color: #51cf66;
  transition: all 0.3s;
  border-radius: 100px;
  padding: 1rem 2rem;
  display: inline-block;
}
.btn:hover {
  background-color: #2f9e44;
}

.loser {
  background-color: #51cf66;
  padding: 1rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 9px;
  display: inline-block;
  /* position: absolute; */
  /* transform: skewX(12deg); */
}

video {
  height: 100vh;
  /* width: 100%; */
}

@media (max-width: 45.62em) {
  .hero__section--intro {
    width: 70%;
  }
}
