.heading-primary {
  font-size: $default-secondary-heading-font-size;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.para {
  font-size: $default-font-size-sm;
  text-align: justify;
  line-height: $default-line-height;
}
