.nav-list {
  list-style: none;
  padding: 2rem 1rem;
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  align-items: center;
}

.nav-link:link,
.nav-link:active {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  color: #333;
}

.nav-btn {
  background-color: #00baf2;
  display: inline-block;
  padding: 1rem 3rem;
  border-radius: 100px;
  transition: all 0.4s;
}
.nav-btn:hover {
  background-color: #0f4a8a;
}

.nav-list .btn-nav {
  color: #fff;
}

.paytm-logo {
  width: 8rem;
}
