/* .section-password {
  height: 100vh;
  position: relative;
  /* background-color: red; */
/* }  */

.section-password,
.section-login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #35d82d, #fff23b);
  padding: 4rem;
  border-radius: 1rem;
  transition: all 0.4s;
  z-index: 2;
}

.section-login {
  background-image: linear-gradient(to right, #2d2dd8, #3bb7ff);
}
.user-text,
.pass-text {
  font-size: 2rem;
  align-self: center;
  color: #fff;
}

.section-password input,
.section-login input {
  height: 4rem;
  padding-left: 1rem;
  width: 28rem;
}

.submit {
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.8rem;
}
.form-password {
  flex-direction: column;
  align-items: center;
}
