.Input {
  width: 25rem;
  height: 2rem;
  border: none;
  outline-color: #51cf66;
  outline-style: solid;
  border-radius: 9px;
  transition: all 0.3s;
  padding: 0.5rem 1rem;
  /* margin: 0 auto; */
}

.input__box {
  width: fit-content;
  margin: 1.1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.btn {
  background-color: #51cf66;
  border: none;
  padding: 1rem 3rem;
  border-radius: 9px;
}
